In [5]:
# 1) Provide a query showing Customers (just their full names, customer ID and country) who are not in the US.
import mysql.connector
from dotenv import dotenv_values

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='arito 123',
  database='Chinook'
)

mycursor = mydb.cursor()

mycursor.execute('''
SELECT FirstName, CustomerId, Country
FROM Customer
WHERE Country != "USA";
''')

# mycursor.execute('''
# SELECT DISTINCT country from Customer;
# ''')

for x in mycursor:
  print(x)
mydb.close()

('Luís', 1, 'Brazil')
('Leonie', 2, 'Germany')
('François', 3, 'Canada')
('Bjørn', 4, 'Norway')
('František', 5, 'Czech Republic')
('Helena', 6, 'Czech Republic')
('Astrid', 7, 'Austria')
('Daan', 8, 'Belgium')
('Kara', 9, 'Denmark')
('Eduardo', 10, 'Brazil')
('Alexandre', 11, 'Brazil')
('Roberto', 12, 'Brazil')
('Fernanda', 13, 'Brazil')
('Mark', 14, 'Canada')
('Jennifer', 15, 'Canada')
('Robert', 29, 'Canada')
('Edward', 30, 'Canada')
('Martha', 31, 'Canada')
('Aaron', 32, 'Canada')
('Ellie', 33, 'Canada')
('João', 34, 'Portugal')
('Madalena', 35, 'Portugal')
('Hannah', 36, 'Germany')
('Fynn', 37, 'Germany')
('Niklas', 38, 'Germany')
('Camille', 39, 'France')
('Dominique', 40, 'France')
('Marc', 41, 'France')
('Wyatt', 42, 'France')
('Isabelle', 43, 'France')
('Terhi', 44, 'Finland')
('Ladislav', 45, 'Hungary')
('Hugh', 46, 'Ireland')
('Lucas', 47, 'Italy')
('Johannes', 48, 'Netherlands')
('Stanisław', 49, 'Poland')
('Enrique', 50, 'Spain')
('Joakim', 51, 'Sweden')
('Emma', 52, 'United Kingdom')
('Phil', 53, 'United Kingdom')
('Steve', 54, 'United Kingdom')
('Mark', 55, 'Australia')
('Diego', 56, 'Argentina')
('Luis', 57, 'Chile')
('Manoj', 58, 'India')
('Puja', 59, 'India')

In [8]:
# 2) Provide a query only showing the Customers from Brazil.
import mysql.connector
from dotenv import dotenv_values

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='arito 123',
  database='Chinook'
)

mycursor = mydb.cursor()

mycursor.execute('''
SELECT *
FROM Customer
WHERE Country = "Brazil";
''')

# mycursor.execute('''
# SELECT DISTINCT country from Customer;
# ''')

for x in mycursor:
  print(x)
mydb.close()

(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)
(10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', '+55 (11) 3033-5446', '+55 (11) 3033-4564', 'eduardo@woodstock.com.br', 4)
(11, 'Alexandre', 'Rocha', 'Banco do Brasil S.A.', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', '+55 (11) 3055-3278', '+55 (11) 3055-8131', 'alero@uol.com.br', 5)
(12, 'Roberto', 'Almeida', 'Riotur', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', '+55 (21) 2271-7000', '+55 (21) 2271-7070', 'roberto.almeida@riotur.gov.br', 3)
(13, 'Fernanda', 'Ramos', None, 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', '+55 (61) 3363-5547', '+55 (61) 3363-7855', 'fernadaramos4@uol.com.br', 4)

In [1]:
# 3) Provide a query showing the Invoices of customers who are from Brazil. The resultant table should show the customer's full name, Invoice ID, Date of the invoice and billing country.

import mysql.connector
from dotenv import dotenv_values

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='arito 123',
  database='Chinook'
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Customer LIMIT 10")
for x in mycursor:
  print(x)
print("=" * 30)

mycursor.execute("SELECT * FROM Invoice LIMIT 10")
for x in mycursor:
  print(x)
print("=" * 30)

mycursor.execute('''
SELECT a.FirstName, a.LastName, b.InvoiceID, b.InvoiceDate, b.BillingCountry
FROM Customer AS a
INNER JOIN Invoice AS b
ON a.CustomerId = b.CustomerId
LIMIT 10
''')
for x in mycursor:
    print(x)


mydb.close()

(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)
(2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5)
(3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3)
(4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4)
(5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4)
(6, 'Helena', 'Holý', None, 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', '+420 2 4177 0449', None, 'hholy@gmail.com', 5)
(7, 'Astrid', 'Gruber', None, 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', '+43 01 5134505', None, 'astrid.gruber@apple.at', 5)
(8, 'Daan', 'Peeters', None, 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', '+32 02 219 03 03', None, 'daan_peeters@apple.be', 4)
(9, 'Kara', 'Nielsen', None, 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', '+453 3331 9991', None, 'kara.nielsen@jubii.dk', 4)
(10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', '+55 (11) 3033-5446', '+55 (11) 3033-4564', 'eduardo@woodstock.com.br', 4)
==============================
(1, 2, datetime.datetime(2009, 1, 1, 0, 0), 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', Decimal('1.98'))
(2, 4, datetime.datetime(2009, 1, 2, 0, 0), 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', Decimal('3.96'))
(3, 8, datetime.datetime(2009, 1, 3, 0, 0), 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', Decimal('5.94'))
(4, 14, datetime.datetime(2009, 1, 6, 0, 0), '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', Decimal('8.91'))
(5, 23, datetime.datetime(2009, 1, 11, 0, 0), '69 Salem Street', 'Boston', 'MA', 'USA', '2113', Decimal('13.86'))
(6, 37, datetime.datetime(2009, 1, 19, 0, 0), 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', Decimal('0.99'))
(7, 38, datetime.datetime(2009, 2, 1, 0, 0), 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', Decimal('1.98'))
(8, 40, datetime.datetime(2009, 2, 1, 0, 0), '8, Rue Hanovre', 'Paris', None, 'France', '75002', Decimal('1.98'))
(9, 42, datetime.datetime(2009, 2, 2, 0, 0), '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', Decimal('3.96'))
(10, 46, datetime.datetime(2009, 2, 3, 0, 0), '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, Decimal('5.94'))
==============================
('Luís', 'Gonçalves', 98, datetime.datetime(2010, 3, 11, 0, 0), 'Brazil')
('Luís', 'Gonçalves', 121, datetime.datetime(2010, 6, 13, 0, 0), 'Brazil')
('Luís', 'Gonçalves', 143, datetime.datetime(2010, 9, 15, 0, 0), 'Brazil')
('Luís', 'Gonçalves', 195, datetime.datetime(2011, 5, 6, 0, 0), 'Brazil')
('Luís', 'Gonçalves', 316, datetime.datetime(2012, 10, 27, 0, 0), 'Brazil')
('Luís', 'Gonçalves', 327, datetime.datetime(2012, 12, 7, 0, 0), 'Brazil')
('Luís', 'Gonçalves', 382, datetime.datetime(2013, 8, 7, 0, 0), 'Brazil')
('Leonie', 'Köhler', 1, datetime.datetime(2009, 1, 1, 0, 0), 'Germany')
('Leonie', 'Köhler', 12, datetime.datetime(2009, 2, 11, 0, 0), 'Germany')
('Leonie', 'Köhler', 67, datetime.datetime(2009, 10, 12, 0, 0), 'Germany')

In [1]:
# 4) Provide a query showing only the Employees who are Sales Agents.
import mysql.connector
from dotenv import dotenv_values

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='arito 123',
  database='Chinook'
)

mycursor = mydb.cursor()

mycursor.execute('''
SELECT *
FROM Employee
WHERE Title = "Sales Support Agent";
''')


for x in mycursor:
  print(x)
mydb.close()

(3, 'Peacock', 'Jane', 'Sales Support Agent', 2, datetime.datetime(1973, 8, 29, 0, 0), datetime.datetime(2002, 4, 1, 0, 0), '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')
(4, 'Park', 'Margaret', 'Sales Support Agent', 2, datetime.datetime(1947, 9, 19, 0, 0), datetime.datetime(2003, 5, 3, 0, 0), '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com')
(5, 'Johnson', 'Steve', 'Sales Support Agent', 2, datetime.datetime(1965, 3, 3, 0, 0), datetime.datetime(2003, 10, 17, 0, 0), '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')

In [8]:
# 5) Provide a query showing a unique list of billing countries from the Invoice table.
import mysql.connector
from dotenv import dotenv_values

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='arito 123',
  database='Chinook'
)

mycursor = mydb.cursor()

mycursor.execute('''
SELECT DISTINCT BillingCountry
FROM Invoice;
''')

billingCount = []
for x in mycursor:
  billingCount.append(x)
print(billingCount)
clean = lambda x: x.replace("'", "")
cleanComma =  clean = lambda x: x.replace(",", "")
entries = [tuple(map(clean, entry.values())) for entry in billingCount]
fieldnames = list(map(clean, billingCount)) 

mydb.close()

[('Germany',), ('Norway',), ('Belgium',), ('Canada',), ('USA',), ('France',), ('Ireland',), ('United Kingdom',), ('Australia',), ('Chile',), ('India',), ('Brazil',), ('Portugal',), ('Netherlands',), ('Spain',), ('Sweden',), ('Czech Republic',), ('Finland',), ('Denmark',), ('Italy',), ('Poland',), ('Austria',), ('Hungary',), ('Argentina',)]

AttributeError: 'tuple' object has no attribute 'values'

In [11]:
# 6) Provide a query showing the invoices of customers who are from Brazil.
from dotenv import dotenv_values

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='arito 123',
  database='Chinook'
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Customer LIMIT 10")
for x in mycursor:
  print(x)
print("=" * 30)

mycursor.execute("SELECT * FROM Invoice LIMIT 10")
for x in mycursor:
  print(x)
print("=" * 30)

mycursor.execute('''
SELECT a.FirstName, a.LastName, b.InvoiceID, b.InvoiceDate, b.BillingCountry, b.Total
FROM Customer AS a
INNER JOIN Invoice AS b
ON a.CustomerId = b.CustomerId
WHERE Country = "Brazil"
LIMIT 10
''')

for x in mycursor:
  print(x)
mydb.close()

(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)
(2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5)
(3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3)
(4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4)
(5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4)
(6, 'Helena', 'Holý', None, 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', '+420 2 4177 0449', None, 'hholy@gmail.com', 5)
(7, 'Astrid', 'Gruber', None, 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', '+43 01 5134505', None, 'astrid.gruber@apple.at', 5)
(8, 'Daan', 'Peeters', None, 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', '+32 02 219 03 03', None, 'daan_peeters@apple.be', 4)
(9, 'Kara', 'Nielsen', None, 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', '+453 3331 9991', None, 'kara.nielsen@jubii.dk', 4)
(10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', '+55 (11) 3033-5446', '+55 (11) 3033-4564', 'eduardo@woodstock.com.br', 4)
==============================
(1, 2, datetime.datetime(2009, 1, 1, 0, 0), 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', Decimal('1.98'))
(2, 4, datetime.datetime(2009, 1, 2, 0, 0), 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', Decimal('3.96'))
(3, 8, datetime.datetime(2009, 1, 3, 0, 0), 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', Decimal('5.94'))
(4, 14, datetime.datetime(2009, 1, 6, 0, 0), '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', Decimal('8.91'))
(5, 23, datetime.datetime(2009, 1, 11, 0, 0), '69 Salem Street', 'Boston', 'MA', 'USA', '2113', Decimal('13.86'))
(6, 37, datetime.datetime(2009, 1, 19, 0, 0), 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', Decimal('0.99'))
(7, 38, datetime.datetime(2009, 2, 1, 0, 0), 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', Decimal('1.98'))
(8, 40, datetime.datetime(2009, 2, 1, 0, 0), '8, Rue Hanovre', 'Paris', None, 'France', '75002', Decimal('1.98'))
(9, 42, datetime.datetime(2009, 2, 2, 0, 0), '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', Decimal('3.96'))
(10, 46, datetime.datetime(2009, 2, 3, 0, 0), '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, Decimal('5.94'))
==============================
('Luís', 'Gonçalves', 98, datetime.datetime(2010, 3, 11, 0, 0), 'Brazil', Decimal('3.98'))
('Luís', 'Gonçalves', 121, datetime.datetime(2010, 6, 13, 0, 0), 'Brazil', Decimal('3.96'))
('Luís', 'Gonçalves', 143, datetime.datetime(2010, 9, 15, 0, 0), 'Brazil', Decimal('5.94'))
('Luís', 'Gonçalves', 195, datetime.datetime(2011, 5, 6, 0, 0), 'Brazil', Decimal('0.99'))
('Luís', 'Gonçalves', 316, datetime.datetime(2012, 10, 27, 0, 0), 'Brazil', Decimal('1.98'))
('Luís', 'Gonçalves', 327, datetime.datetime(2012, 12, 7, 0, 0), 'Brazil', Decimal('13.86'))
('Luís', 'Gonçalves', 382, datetime.datetime(2013, 8, 7, 0, 0), 'Brazil', Decimal('8.91'))
('Eduardo', 'Martins', 25, datetime.datetime(2009, 4, 9, 0, 0), 'Brazil', Decimal('8.91'))
('Eduardo', 'Martins', 154, datetime.datetime(2010, 11, 14, 0, 0), 'Brazil', Decimal('1.98'))
('Eduardo', 'Martins', 177, datetime.datetime(2011, 2, 16, 0, 0), 'Brazil', Decimal('3.96'))

In [ ]:
# 7) Provide a query that shows the invoices associated with each sales agent. The resultant table should include the Sales Agent's full name.
# from dotenv import dotenv_values

# mydb = mysql.connector.connect(
#   host='localhost',
#   user='root',
#   password='arito 123',
#   database='Chinook'
# )

# mycursor = mydb.cursor()

# mycursor.execute("SELECT * FROM Employee LIMIT 10")
# for x in mycursor:
#   print(x)
# print("=" * 30)

# mycursor.execute("SELECT * FROM Invoice LIMIT 10")
# for x in mycursor:
#   print(x)
# print("=" * 30)

# mycursor.execute('''
# SELECT a.FirstName, a.LastName, b.InvoiceID, b.InvoiceDate, b.BillingCountry, b.Total
# FROM Customer AS a
# INNER JOIN Invoice AS b
# ON a.EmployeeID = b.CustomerId
# LIMIT 10
# ''')

# for x in mycursor:
#   print(x)
# mydb.close()

In [ ]:
# 8) Provide a query that shows the Invoice Total, Customer name, Country and Sale Agent name for all invoices and customers.

In [23]:
# 9) How many Invoices were there in 2009 and 2011? What are the respective total sales for each of those years?
import mysql.connector
from dotenv import dotenv_values

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='arito 123',
  database='Chinook'
)

mycursor = mydb.cursor()

mycursor.execute('''
SELECT COUNT(InvoiceId), SUM(Total)
FROM Invoice
WHERE YEAR(InvoiceDate) = "2009";
''')

for x in mycursor:
  print(x)

mycursor.execute('''
SELECT COUNT(Total), SUM(Total)
FROM Invoice
WHERE YEAR(InvoiceDate) = "2011";
''')


for x in mycursor:
  print(x)
mydb.close()

(83, Decimal('449.46'))
(83, Decimal('469.58'))

In [42]:
# 10) Looking at the InvoiceLine table, provide a query that COUNTs the number of line items for Invoice ID 37.
import mysql.connector
from dotenv import dotenv_values

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='arito 123',
  database='Chinook'
)

mycursor = mydb.cursor()

mycursor.execute('''
SELECT InvoiceId, COUNT(Quantity)
FROM InvoiceLine
WHERE InvoiceId = "37";
''')


for x in mycursor:
  print(x)
mydb.close()

(37, 4)

In [40]:
# 11) Looking at the InvoiceLine table, provide a query that COUNTs the number of line items for each Invoice. HINT: GROUP BY
import mysql.connector
from dotenv import dotenv_values

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='arito 123',
  database='Chinook'
)

mycursor = mydb.cursor()

mycursor.execute('''
SELECT InvoiceId, COUNT(Quantity)
FROM InvoiceLine
GROUP BY InvoiceId;
''')


for x in mycursor:
  print(x)
mydb.close()

(1, 2)
(2, 4)
(3, 6)
(4, 9)
(5, 14)
(6, 1)
(7, 2)
(8, 2)
(9, 4)
(10, 6)
(11, 9)
(12, 14)
(13, 1)
(14, 2)
(15, 2)
(16, 4)
(17, 6)
(18, 9)
(19, 14)
(20, 1)
(21, 2)
(22, 2)
(23, 4)
(24, 6)
(25, 9)
(26, 14)
(27, 1)
(28, 2)
(29, 2)
(30, 4)
(31, 6)
(32, 9)
(33, 14)
(34, 1)
(35, 2)
(36, 2)
(37, 4)
(38, 6)
(39, 9)
(40, 14)
(41, 1)
(42, 2)
(43, 2)
(44, 4)
(45, 6)
(46, 9)
(47, 14)
(48, 1)
(49, 2)
(50, 2)
(51, 4)
(52, 6)
(53, 9)
(54, 14)
(55, 1)
(56, 2)
(57, 2)
(58, 4)
(59, 6)
(60, 9)
(61, 14)
(62, 1)
(63, 2)
(64, 2)
(65, 4)
(66, 6)
(67, 9)
(68, 14)
(69, 1)
(70, 2)
(71, 2)
(72, 4)
(73, 6)
(74, 9)
(75, 14)
(76, 1)
(77, 2)
(78, 2)
(79, 4)
(80, 6)
(81, 9)
(82, 14)
(83, 1)
(84, 2)
(85, 2)
(86, 4)
(87, 6)
(88, 9)
(89, 14)
(90, 1)
(91, 2)
(92, 2)
(93, 4)
(94, 6)
(95, 9)
(96, 14)
(97, 1)
(98, 2)
(99, 2)
(100, 4)
(101, 6)
(102, 9)
(103, 14)
(104, 1)
(105, 2)
(106, 2)
(107, 4)
(108, 6)
(109, 9)
(110, 14)
(111, 1)
(112, 2)
(113, 2)
(114, 4)
(115, 6)
(116, 9)
(117, 14)
(118, 1)
(119, 2)
(120, 2)
(121, 4)
(122, 6)
(123, 9)
(124, 14)
(125, 1)
(126, 2)
(127, 2)
(128, 4)
(129, 6)
(130, 9)
(131, 14)
(132, 1)
(133, 2)
(134, 2)
(135, 4)
(136, 6)
(137, 9)
(138, 14)
(139, 1)
(140, 2)
(141, 2)
(142, 4)
(143, 6)
(144, 9)
(145, 14)
(146, 1)
(147, 2)
(148, 2)
(149, 4)
(150, 6)
(151, 9)
(152, 14)
(153, 1)
(154, 2)
(155, 2)
(156, 4)
(157, 6)
(158, 9)
(159, 14)
(160, 1)
(161, 2)
(162, 2)
(163, 4)
(164, 6)
(165, 9)
(166, 14)
(167, 1)
(168, 2)
(169, 2)
(170, 4)
(171, 6)
(172, 9)
(173, 14)
(174, 1)
(175, 2)
(176, 2)
(177, 4)
(178, 6)
(179, 9)
(180, 14)
(181, 1)
(182, 2)
(183, 2)
(184, 4)
(185, 6)
(186, 9)
(187, 14)
(188, 1)
(189, 2)
(190, 2)
(191, 4)
(192, 6)
(193, 9)
(194, 14)
(195, 1)
(196, 2)
(197, 2)
(198, 4)
(199, 6)
(200, 9)
(201, 14)
(202, 1)
(203, 2)
(204, 2)
(205, 4)
(206, 6)
(207, 9)
(208, 14)
(209, 1)
(210, 2)
(211, 2)
(212, 4)
(213, 6)
(214, 9)
(215, 14)
(216, 1)
(217, 2)
(218, 2)
(219, 4)
(220, 6)
(221, 9)
(222, 14)
(223, 1)
(224, 2)
(225, 2)
(226, 4)
(227, 6)
(228, 9)
(229, 14)
(230, 1)
(231, 2)
(232, 2)
(233, 4)
(234, 6)
(235, 9)
(236, 14)
(237, 1)
(238, 2)
(239, 2)
(240, 4)
(241, 6)
(242, 9)
(243, 14)
(244, 1)
(245, 2)
(246, 2)
(247, 4)
(248, 6)
(249, 9)
(250, 14)
(251, 1)
(252, 2)
(253, 2)
(254, 4)
(255, 6)
(256, 9)
(257, 14)
(258, 1)
(259, 2)
(260, 2)
(261, 4)
(262, 6)
(263, 9)
(264, 14)
(265, 1)
(266, 2)
(267, 2)
(268, 4)
(269, 6)
(270, 9)
(271, 14)
(272, 1)
(273, 2)
(274, 2)
(275, 4)
(276, 6)
(277, 9)
(278, 14)
(279, 1)
(280, 2)
(281, 2)
(282, 4)
(283, 6)
(284, 9)
(285, 14)
(286, 1)
(287, 2)
(288, 2)
(289, 4)
(290, 6)
(291, 9)
(292, 14)
(293, 1)
(294, 2)
(295, 2)
(296, 4)
(297, 6)
(298, 9)
(299, 14)
(300, 1)
(301, 2)
(302, 2)
(303, 4)
(304, 6)
(305, 9)
(306, 14)
(307, 1)
(308, 2)
(309, 2)
(310, 4)
(311, 6)
(312, 9)
(313, 14)
(314, 1)
(315, 2)
(316, 2)
(317, 4)
(318, 6)
(319, 9)
(320, 14)
(321, 1)
(322, 2)
(323, 2)
(324, 4)
(325, 6)
(326, 9)
(327, 14)
(328, 1)
(329, 2)
(330, 2)
(331, 4)
(332, 6)
(333, 9)
(334, 14)
(335, 1)
(336, 2)
(337, 2)
(338, 4)
(339, 6)
(340, 9)
(341, 14)
(342, 1)
(343, 2)
(344, 2)
(345, 4)
(346, 6)
(347, 9)
(348, 14)
(349, 1)
(350, 2)
(351, 2)
(352, 4)
(353, 6)
(354, 9)
(355, 14)
(356, 1)
(357, 2)
(358, 2)
(359, 4)
(360, 6)
(361, 9)
(362, 14)
(363, 1)
(364, 2)
(365, 2)
(366, 4)
(367, 6)
(368, 9)
(369, 14)
(370, 1)
(371, 2)
(372, 2)
(373, 4)
(374, 6)
(375, 9)
(376, 14)
(377, 1)
(378, 2)
(379, 2)
(380, 4)
(381, 6)
(382, 9)
(383, 14)
(384, 1)
(385, 2)
(386, 2)
(387, 4)
(388, 6)
(389, 9)
(390, 14)
(391, 1)
(392, 2)
(393, 2)
(394, 4)
(395, 6)
(396, 9)
(397, 14)
(398, 1)
(399, 2)
(400, 2)
(401, 4)
(402, 6)
(403, 9)
(404, 14)
(405, 1)
(406, 2)
(407, 2)
(408, 4)
(409, 6)
(410, 9)
(411, 14)
(412, 1)

In [33]:
# 12) Provide a query that includes the track name with each invoice line item.
from dotenv import dotenv_values

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='arito 123',
  database='Chinook'
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Track LIMIT 10")
for x in mycursor:
  print(x)
print("=" * 30)

mycursor.execute("SELECT * FROM InvoiceLine LIMIT 10")
for x in mycursor:
  print(x)
print("=" * 30)

mycursor.execute('''
SELECT a.Name, b.InvoiceLineID, b.InvoiceID, b.TrackID, b.UnitPrice, b.Quantity
FROM Track AS a
INNER JOIN InvoiceLine AS b
ON a.TrackId = b.TrackId
LIMIT 10
''')

for x in mycursor:
  print(x)
mydb.close()

(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, Decimal('0.99'))
(2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, Decimal('0.99'))
(3, 'Fast As a Shark', 3, 2, 1, 'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman', 230619, 3990994, Decimal('0.99'))
(4, 'Restless and Wild', 3, 2, 1, 'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman', 252051, 4331779, Decimal('0.99'))
(5, 'Princess of the Dawn', 3, 2, 1, 'Deaffy & R.A. Smith-Diesel', 375418, 6290521, Decimal('0.99'))
(6, 'Put The Finger On You', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205662, 6713451, Decimal('0.99'))
(7, "Let's Get It Up", 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 233926, 7636561, Decimal('0.99'))
(8, 'Inject The Venom', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 210834, 6852860, Decimal('0.99'))
(9, 'Snowballed', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 203102, 6599424, Decimal('0.99'))
(10, 'Evil Walks', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263497, 8611245, Decimal('0.99'))
==============================
(1, 1, 2, Decimal('0.99'), 1)
(2, 1, 4, Decimal('0.99'), 1)
(3, 2, 6, Decimal('0.99'), 1)
(4, 2, 8, Decimal('0.99'), 1)
(5, 2, 10, Decimal('0.99'), 1)
(6, 2, 12, Decimal('0.99'), 1)
(7, 3, 16, Decimal('0.99'), 1)
(8, 3, 20, Decimal('0.99'), 1)
(9, 3, 24, Decimal('0.99'), 1)
(10, 3, 28, Decimal('0.99'), 1)
==============================
('Balls to the Wall', 1, 1, 2, Decimal('0.99'), 1)
('Restless and Wild', 2, 1, 4, Decimal('0.99'), 1)
('Put The Finger On You', 3, 2, 6, Decimal('0.99'), 1)
('Inject The Venom', 4, 2, 8, Decimal('0.99'), 1)
('Evil Walks', 5, 2, 10, Decimal('0.99'), 1)
('Breaking The Rules', 6, 2, 12, Decimal('0.99'), 1)
('Dog Eat Dog', 7, 3, 16, Decimal('0.99'), 1)
('Overdose', 8, 3, 20, Decimal('0.99'), 1)
('Love In An Elevator', 9, 3, 24, Decimal('0.99'), 1)
("Janie's Got A Gun", 10, 3, 28, Decimal('0.99'), 1)

In [34]:
# 13) Provide a query that includes the purchased track name AND artist name with each invoice line item.
from dotenv import dotenv_values

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='arito 123',
  database='Chinook'
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Track LIMIT 10")
for x in mycursor:
  print(x)
print("=" * 30)

mycursor.execute("SELECT * FROM InvoiceLine LIMIT 10")
for x in mycursor:
  print(x)
print("=" * 30)

mycursor.execute('''
SELECT a.Name, a.Composer, b.InvoiceLineID, b.InvoiceID, b.TrackID, b.UnitPrice, b.Quantity
FROM Track AS a
INNER JOIN InvoiceLine AS b
ON a.TrackId = b.TrackId
LIMIT 10
''')

for x in mycursor:
  print(x)
mydb.close()

(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, Decimal('0.99'))
(2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, Decimal('0.99'))
(3, 'Fast As a Shark', 3, 2, 1, 'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman', 230619, 3990994, Decimal('0.99'))
(4, 'Restless and Wild', 3, 2, 1, 'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman', 252051, 4331779, Decimal('0.99'))
(5, 'Princess of the Dawn', 3, 2, 1, 'Deaffy & R.A. Smith-Diesel', 375418, 6290521, Decimal('0.99'))
(6, 'Put The Finger On You', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205662, 6713451, Decimal('0.99'))
(7, "Let's Get It Up", 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 233926, 7636561, Decimal('0.99'))
(8, 'Inject The Venom', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 210834, 6852860, Decimal('0.99'))
(9, 'Snowballed', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 203102, 6599424, Decimal('0.99'))
(10, 'Evil Walks', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263497, 8611245, Decimal('0.99'))
==============================
(1, 1, 2, Decimal('0.99'), 1)
(2, 1, 4, Decimal('0.99'), 1)
(3, 2, 6, Decimal('0.99'), 1)
(4, 2, 8, Decimal('0.99'), 1)
(5, 2, 10, Decimal('0.99'), 1)
(6, 2, 12, Decimal('0.99'), 1)
(7, 3, 16, Decimal('0.99'), 1)
(8, 3, 20, Decimal('0.99'), 1)
(9, 3, 24, Decimal('0.99'), 1)
(10, 3, 28, Decimal('0.99'), 1)
==============================
('Balls to the Wall', None, 1, 1, 2, Decimal('0.99'), 1)
('Restless and Wild', 'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman', 2, 1, 4, Decimal('0.99'), 1)
('Put The Finger On You', 'Angus Young, Malcolm Young, Brian Johnson', 3, 2, 6, Decimal('0.99'), 1)
('Inject The Venom', 'Angus Young, Malcolm Young, Brian Johnson', 4, 2, 8, Decimal('0.99'), 1)
('Evil Walks', 'Angus Young, Malcolm Young, Brian Johnson', 5, 2, 10, Decimal('0.99'), 1)
('Breaking The Rules', 'Angus Young, Malcolm Young, Brian Johnson', 6, 2, 12, Decimal('0.99'), 1)
('Dog Eat Dog', 'AC/DC', 7, 3, 16, Decimal('0.99'), 1)
('Overdose', 'AC/DC', 8, 3, 20, Decimal('0.99'), 1)
('Love In An Elevator', 'Steven Tyler, Joe Perry', 9, 3, 24, Decimal('0.99'), 1)
("Janie's Got A Gun", 'Steven Tyler, Tom Hamilton', 10, 3, 28, Decimal('0.99'), 1)

In [39]:
# 14) Provide a query that shows the # of invoices per country. HINT: GROUP BY
import mysql.connector
from dotenv import dotenv_values

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='arito 123',
  database='Chinook'
)

mycursor = mydb.cursor()

mycursor.execute('''
SELECT BillingCountry, COUNT(Total)
FROM Invoice
GROUP BY BillingCountry;
''')


for x in mycursor:
  print(x)
mydb.close()

('Germany', 28)
('Norway', 7)
('Belgium', 7)
('Canada', 56)
('USA', 91)
('France', 35)
('Ireland', 7)
('United Kingdom', 21)
('Australia', 7)
('Chile', 7)
('India', 13)
('Brazil', 35)
('Portugal', 14)
('Netherlands', 7)
('Spain', 7)
('Sweden', 7)
('Czech Republic', 14)
('Finland', 7)
('Denmark', 7)
('Italy', 7)
('Poland', 7)
('Austria', 7)
('Hungary', 7)
('Argentina', 7)

In [38]:
# 15) Provide a query that shows the total number of tracks in each playlist. The Playlist name should be include on the resultant table.
from dotenv import dotenv_values

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='arito 123',
  database='Chinook'
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Playlist LIMIT 10")
for x in mycursor:
  print(x)
print("=" * 30)

mycursor.execute("SELECT * FROM PlaylistTrack LIMIT 10")
for x in mycursor:
  print(x)
print("=" * 30)

mycursor.execute('''
SELECT a.Name, COUNT(b.Trackid)
FROM Playlist AS a
INNER JOIN PlaylistTrack AS b
ON a.Playlistid = b.Playlistid
GROUP BY b.Playlistid;
''')

for x in mycursor:
  print(x)
mydb.close()

(1, 'Music')
(2, 'Movies')
(3, 'TV Shows')
(4, 'Audiobooks')
(5, '90’s Music')
(6, 'Audiobooks')
(7, 'Movies')
(8, 'Music')
(9, 'Music Videos')
(10, 'TV Shows')
==============================
(1, 1)
(8, 1)
(17, 1)
(1, 2)
(8, 2)
(17, 2)
(1, 3)
(5, 3)
(8, 3)
(17, 3)
==============================
('Music', 3290)
('TV Shows', 213)
('90’s Music', 1477)
('Music', 3290)
('Music Videos', 1)
('TV Shows', 213)
('Brazilian Music', 39)
('Classical', 75)
('Classical 101 - Deep Cuts', 25)
('Classical 101 - Next Steps', 25)
('Classical 101 - The Basics', 25)
('Grunge', 15)
('Heavy Metal Classic', 26)
('On-The-Go 1', 1)

In [49]:
# 16) Provide a query that shows all the Tracks, but displays no IDs. The resultant table should include the Album name, Media type and Genre.
# from dotenv import dotenv_values

# mydb = mysql.connector.connect(
#   host='localhost',
#   user='root',
#   password='arito 123',
#   database='Chinook'
# )

# mycursor = mydb.cursor()

# mycursor.execute("SELECT * FROM Track LIMIT 10")
# for x in mycursor:
#   print(x)
# print("=" * 30)

# mycursor.execute("SELECT * FROM MediaType LIMIT 10")
# for x in mycursor:
#   print(x)
# print("=" * 30)

# mycursor.execute("SELECT * FROM Album LIMIT 10")
# for x in mycursor:
#   print(x)
# print("=" * 30)

# mycursor.execute("SELECT * FROM Genre LIMIT 10")
# for x in mycursor:
#   print(x)
# print("=" * 30)

# # 16) Provide a query that shows all the Tracks, but displays no IDs. The resultant table should include the Album name, Media type and Genre.

# mycursor.execute('''
# SELECT c.Title, b.name, d.name
# FROM Track 
# AS a
# INNER JOIN MediaType 
# AS b
# ON a.MediaTypeId = b.MediaTypeId
# INNER JOIN Album 
# AS c
# ON a.AlbumId = c.AlbumId;
# INNER JOIN Genre 
# AS d
# ON a.GenreId = d.GenreId;
# ''')

# for x in mycursor:
#   print(x)
# mydb.close()

(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, Decimal('0.99'))
(2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, Decimal('0.99'))
(3, 'Fast As a Shark', 3, 2, 1, 'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman', 230619, 3990994, Decimal('0.99'))
(4, 'Restless and Wild', 3, 2, 1, 'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman', 252051, 4331779, Decimal('0.99'))
(5, 'Princess of the Dawn', 3, 2, 1, 'Deaffy & R.A. Smith-Diesel', 375418, 6290521, Decimal('0.99'))
(6, 'Put The Finger On You', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205662, 6713451, Decimal('0.99'))
(7, "Let's Get It Up", 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 233926, 7636561, Decimal('0.99'))
(8, 'Inject The Venom', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 210834, 6852860, Decimal('0.99'))
(9, 'Snowballed', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 203102, 6599424, Decimal('0.99'))
(10, 'Evil Walks', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263497, 8611245, Decimal('0.99'))
==============================
(1, 'MPEG audio file')
(2, 'Protected AAC audio file')
(3, 'Protected MPEG-4 video file')
(4, 'Purchased AAC audio file')
(5, 'AAC audio file')
==============================
(1, 'For Those About To Rock We Salute You', 1)
(2, 'Balls to the Wall', 2)
(3, 'Restless and Wild', 2)
(4, 'Let There Be Rock', 1)
(5, 'Big Ones', 3)
(6, 'Jagged Little Pill', 4)
(7, 'Facelift', 5)
(8, 'Warner 25 Anos', 6)
(9, 'Plays Metallica By Four Cellos', 7)
(10, 'Audioslave', 8)
==============================
(1, 'Rock')
(2, 'Jazz')
(3, 'Metal')
(4, 'Alternative & Punk')
(5, 'Rock And Roll')
(6, 'Blues')
(7, 'Latin')
(8, 'Reggae')
(9, 'Pop')
(10, 'Soundtrack')
==============================

ProgrammingError: 1054 (42S22): Unknown column 'd.name' in 'field list'

In [56]:
# 17) Provide a query that shows all Invoices but includes the # of invoice line items.
from dotenv import dotenv_values

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='arito 123',
  database='Chinook'
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Invoice LIMIT 10")
for x in mycursor:
  print(x)
print("=" * 30)

mycursor.execute("SELECT * FROM InvoiceLine LIMIT 10")
for x in mycursor:
  print(x)
print("=" * 30)

mycursor.execute('''
SELECT b.InvoiceLineId, b.invoiceid, b.trackid, b.unitprice, SUM(b.quantity)
FROM Invoice AS a
INNER JOIN InvoiceLine AS b
ON a.invoiceid = b.invoiceid
GRUOP BY b.invoiceid;
''')

for x in mycursor:
  print(x)
mydb.close()

(1, 2, datetime.datetime(2009, 1, 1, 0, 0), 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', Decimal('1.98'))
(2, 4, datetime.datetime(2009, 1, 2, 0, 0), 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', Decimal('3.96'))
(3, 8, datetime.datetime(2009, 1, 3, 0, 0), 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', Decimal('5.94'))
(4, 14, datetime.datetime(2009, 1, 6, 0, 0), '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', Decimal('8.91'))
(5, 23, datetime.datetime(2009, 1, 11, 0, 0), '69 Salem Street', 'Boston', 'MA', 'USA', '2113', Decimal('13.86'))
(6, 37, datetime.datetime(2009, 1, 19, 0, 0), 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', Decimal('0.99'))
(7, 38, datetime.datetime(2009, 2, 1, 0, 0), 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', Decimal('1.98'))
(8, 40, datetime.datetime(2009, 2, 1, 0, 0), '8, Rue Hanovre', 'Paris', None, 'France', '75002', Decimal('1.98'))
(9, 42, datetime.datetime(2009, 2, 2, 0, 0), '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', Decimal('3.96'))
(10, 46, datetime.datetime(2009, 2, 3, 0, 0), '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, Decimal('5.94'))
==============================
(1, 1, 2, Decimal('0.99'), 1)
(2, 1, 4, Decimal('0.99'), 1)
(3, 2, 6, Decimal('0.99'), 1)
(4, 2, 8, Decimal('0.99'), 1)
(5, 2, 10, Decimal('0.99'), 1)
(6, 2, 12, Decimal('0.99'), 1)
(7, 3, 16, Decimal('0.99'), 1)
(8, 3, 20, Decimal('0.99'), 1)
(9, 3, 24, Decimal('0.99'), 1)
(10, 3, 28, Decimal('0.99'), 1)
==============================

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'GRUOP BY b.invoiceid' at line 5

In [ ]:
# 18) Provide a query that shows total sales made by each sales agent.
from dotenv import dotenv_values

mydb = mysql.connector.connect(
  host='localhost',
  user='root',
  password='arito 123',
  database='Chinook'
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Employee LIMIT 10")
for x in mycursor:
  print(x)
print("=" * 30)

mycursor.execute("SELECT * FROM Customer LIMIT 10")
for x in mycursor:
  print(x)
print("=" * 30)

mycursor.execute("SELECT * FROM Invoice LIMIT 10")
for x in mycursor:
  print(x)
print("=" * 30)

mycursor.execute('''
SELECT a.FirstName, a.LastName, b.trackid, b.unitprice, SUM(b.quantity)
FROM Employee AS a
INNER JOIN Customer AS b
ON a.EmployeeIdId = b.SupportRepId
INNER JOIN Invoice AS c
ON c.CustomerId = b.CustomerId
GRUOP BY b.SupportRepId;
''')

for x in mycursor:
  print(x)
mydb.close()

In [ ]:
# 19) Which sales agent made the most in sales in 2009?

In [ ]:
# 20) Which sales agent made the most in sales in 2010?

In [ ]:
# 21) Which sales agent made the most in sales over all?

In [ ]:
# 22) Provide a query that shows the # of customers assigned to each sales agent.

In [ ]:
# 23) Provide a query that shows the total sales per country. Which country's customers spent the most?

In [ ]:
# 24) Provide a query that shows the most purchased track of 2013.

In [ ]:
# 25) Provide a query that shows the top 5 most purchased tracks over all.

In [ ]:
# 26) Provide a query that shows the top 3 best selling artists.

In [ ]:
# 27) Provide a query that shows the most purchased Media Type.