# SQL CRUD Operations

### Agenda
<div class="alert alert-block alert-info" style="margin-top: 20px">

1.  [Review](#0)<br>
2.  [WHERE CLAUSE](#2)<br>
3.  [LIKE](#4) <br>
4.  [UPDATE](#6) <br>     
5.  [DELETE](#8) <br> 
6.  [String Operations](#10) <br>    
</div>
<hr>

### We created databases and tables in the previous lesson

#### Exercise
<H4>Practice your core python and sql with this next exercise<br>
Locate the file inventory.csv<br>
Perform the following actions:<br>
1 - Examine the file in a text editor<br>
2 - Create a database called 'Hardware_store.db'<br>
3 - Create a table to match the schema for loading this data<br>
4 - Load the data from the file first then add the data to the SQL table<br>
5 - The price_extended is the the price times the quantity - Calculate this field manually<br>
BONUS<br>
create an input program to add the following three items by prompting the user from the command line<br>
HH00,LED lights,11.99,30,<br>
HH10,Sanitizing wipes,6.49,200,<br>
GG99,N95 masks - 2 pack,9.99,100,<br>
NOTE: If you can't create the console code create the SQL code to manually load the additional data<br>

In [ ]:
# Enter your code here

#### sql - WHERE CLAUSE is used to filter your data

In [4]:
import sqlite3
import os
# MAKE SURE YOU ARE IN THE CORRECT DIRECTORY or use the full path in you connect statement
print(os.getcwd())
os.chdir(r'c:\Projects\Code immersives\SQLite')  
print(os.getcwd())
#=====================================================
conn = sqlite3.connect('customer.db')
c = conn.cursor()

c.execute('SELECT rowid,* FROM customers WHERE lName = "Smith" ')  # rowid is now the first element in the returned tuple
customers = c.fetchall()

# ITERATE over the results
for customer in customers:
    # Use indexing to return the elements of the tuple
    print(f'Customer {customer[0]}')
    print(f'First name: {customer[1]}\nLast name: {customer[2]}\nAddress 1: {customer[3]}\nAddress 2: {customer[4]}\nZip: {customer[5]}' )
    print('='*30)
conn.commit()
conn.close()

C:\Python38\Scripts
c:\Projects\Code immersives\SQLite
Customer 1
First name: John
Last name: Smith
Address 1: 1 Main street
Address 2:
Zip: 99991
==============================
Customer 2
First name: John
Last name: Smith
Address 1: 1 Main street
Address 2:
Zip: 99991
==============================

#### Using the LIKE qualifier with the WHERE clause

In [6]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()

# All last names that begin with 'T'
c.execute('SELECT rowid,* FROM customers WHERE lName LIKE "T%" ')  # <== The % sign is used as a wildcard
customers = c.fetchall()

# i = 1
for customer in customers:
    # Use indexing to return the elements of the tuple
    print(f'Customer {customer[0]}')
    print(f'First name: {customer[1]}\nLast name: {customer[2]}\nAddress 1: {customer[3]}\nAddress 2: {customer[4]}\nZip: {customer[5]}' )
    print('='*30)
conn.commit()
conn.close()

Customer 4
First name: Harry
Last name: Teague
Address 1: 100 Centre Street
Address 2: Apt 1A
Zip: 88888
==============================
Customer 5
First name: Henrietta
Last name: Teague
Address 1: 100 Centre Street
Address 2: Apt 1A
Zip: 88888
==============================

#### How would we capture an address with the word brooklyn in it?

In [8]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()

c.execute('SELECT rowid,* FROM customers WHERE address1 LIKE "%brooklyn%" ') #  NOTE Case does not matter 
customers = c.fetchall()

for customer in customers:
    # Use indexing to return the elements of the tuple
    print(f'Customer {customer[0]}')
    print(f'First name: {customer[1]}\nLast name: {customer[2]}\nAddress 1: {customer[3]}\nAddress 2: {customer[4]}\nZip: {customer[5]}' )
    print('='*30)
conn.commit()
conn.close()

Customer 8
First name: Patrice
Last name: Wright
Address 1: 60 Brooklyn Bridge Park Street
Address 2: Apt 44M
Zip: 11234
==============================

#### So far we have queried our customers table and only changed a few attributes
#### Let's write a generic function and pass in the items that change

In [22]:
import os
import sqlite3

# Notice the defaults for the fields and whereClause
def queryDB(db,table,fields='*',whereClause=''):   
    conn = sqlite3.connect(db if db[-3:] == '.db' else db+'.db')# <=== The .db extension is necessary
    c = conn.cursor()
    sql = '''SELECT {0} FROM {1} {2}'''.format(fields,table,whereClause)
    print(sql)
    c.execute(sql)  
    qResults = c.fetchall()

    for result in qResults:
        print(result)
        print('='*30)
    conn.commit()
    conn.close()
    
#
print(os.getcwd())
os.chdir(r'c:\Projects\Code immersives\SQLite')  
print(os.getcwd()) 
queryDB('customer','customers')  
print("*"*35)
queryDB('customer','customers','lName,fName')
print("*"*35)
queryDB('customer','customers','*',"WHERE address2 = '' ")

c:\Projects\Code immersives\SQLite
c:\Projects\Code immersives\SQLite
SELECT * FROM customers
('John', 'Smith', '1 Main street', '', '99991')
==============================
('John', 'Smith', '1 Main street', '', '99991')
==============================
('Mary', 'Jones', '15 Main street', '', '99995')
==============================
('Harry', 'Teague', '100 Centre Street', 'Apt 1A', '88888')
==============================
('Henrietta', 'Teague', '100 Centre Street', 'Apt 1A', '88888')
==============================
('Larry', 'Gantt', '10 Bond Street', 'Apt 11C', '88000')
==============================
('Horace', 'Penn', '50 Gansavort Street', 'Apt 9B', '88770')
==============================
('Patrice', 'Wright', '60 Brooklyn Bridge Park Street', 'Apt 44M', '11234')
==============================
***********************************
SELECT lName,fName FROM customers
('Smith', 'John')
==============================
('Smith', 'John')
==============================
('Jones', 'Mary')
==============================
('Teague', 'Harry')
==============================
('Teague', 'Henrietta')
==============================
('Gantt', 'Larry')
==============================
('Penn', 'Horace')
==============================
('Wright', 'Patrice')
==============================
***********************************
SELECT * FROM customers WHERE address2 = ''
('John', 'Smith', '1 Main street', '', '99991')
==============================
('John', 'Smith', '1 Main street', '', '99991')
==============================
('Mary', 'Jones', '15 Main street', '', '99995')
==============================
***********************************
SELECT name FROM sqlite_master
('customers',)
==============================
('depts',)
==============================

#### SQLite contains metadata that stores the name of all the tables in the database
```
# Using the function we created in the last exercise you can see it by running
queryDB('customer','sqlite_master','name')

# It runs this query statement
# SELECT name FROM sqlite_master
```

## Update

<h4>We want to update a tableand change one or more fields<br>
The scope of our update is controlled with the inclusion or exclusion of a WHERE Clause<br>

<h4>In the customer table the customer with the first name = 'Larry' and last name = 'Gantt'<br>
Changes his address.  THIS IS A DANGEROUS OPERATION.  To safely make changes always check the <br>
scope of your proposed changes with first running a SELECT statement.<br.

In [24]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()

# All last names that begin with 'T'
c.execute('SELECT * FROM customers WHERE fName = "Larry" and lName = "Gantt" ')  # <== The % sign is used as a wildcard
customers = c.fetchall()

for customer in customers:
    # Use indexing to return the elements of the tuple
    print(customer)
    print('='*30)
conn.commit()
conn.close()

('Larry', 'Gantt', '10 Bond Street', 'Apt 11C', '88000')
==============================

<h4>The previous code returned the target record.  We can now run our UPDATE code.</h4>

In [26]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()

# All last names that begin with 'T'
c.execute('''UPDATE customers SET 
address1 = "1 Park Avenue",
address2 = "Penthouse A"
WHERE fName = "Larry" and lName = "Gantt" ''') 
conn.commit()
c.execute('''SELECT * FROM customers WHERE fName = "Larry" and lName = "Gantt" ''') 
customers = c.fetchall()

for customer in customers:
    # Use indexing to return the elements of the tuple
    print(customer)
    print('='*30)
conn.close()

('Larry', 'Gantt', '1 Park Avenue', 'Penthouse A', '88000')
==============================

<h4>In the case of Mary Jones she recently was married and decided to change her last name<br>
She submits to Human Resources a last name change to 'Jones-Pollard'<br>
How would you change the last name?</h4>

In [27]:
# Add your code here

<H4>Henrietta and Harry Teague, who are married, both move to <br>
10 Pineapple street, apartment 3B and their zip code changes to 11200<br>
Make the change below</h4>

In [28]:
# Add your code here

<h4>String Operations<br>
<br>
SUBSTR, TRIM, LTRIM, RTRIM, LENGTH, REPLACE, UPPER, LOWER, INSTR<br>
String operations can be conducted on a table or a string</h4>

In [32]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()
conn.commit()
c.execute('''SELECT SUBSTR('I LOVE PYTHON AND SQL',3,11)''') 
sqlResults = c.fetchall()
print(sqlResults)

[('LOVE PYTHON',)]

In [34]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()
conn.commit()
c.execute('''SELECT TRIM(' SQL   ')''') 
sqlResults = c.fetchall()
print(sqlResults)

[('SQL',)]

In [35]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()
conn.commit()
c.execute('''SELECT LTRIM('         SQL   ')''') 
sqlResults = c.fetchall()
print(sqlResults)

[('SQL   ',)]

In [36]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()
conn.commit()
c.execute('''SELECT RTRIM('   SQL   ')''') 
sqlResults = c.fetchall()
print(sqlResults)

[('   SQL',)]

In [37]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()
conn.commit()
c.execute('''SELECT LENGTH('         SQL   ')''') 
sqlResults = c.fetchall()
print(sqlResults)

[(15,)]

In [38]:
# Execute two commands
conn = sqlite3.connect('customer.db')
c = conn.cursor()
conn.commit()
c.execute('''SELECT LENGTH(TRIM('         SQL   '))''') 
sqlResults = c.fetchall()
print(sqlResults)

[(3,)]