<h1>Instructions</h1>
Normalize the following block of data by copying the data below, except the triple quotes, <br>
and placing the data in a file called employee_data.csv<br>
1 - Import the file using core python<br>
2 - Normalize the data and separate into component tables<br>
3 - Use SQL to create the tables and populate them<br>
4 - Answer the following questions using SQL<br>
- Provide a count of the employees by gender<br>
- Provide a count of the employees by dept name<br>
- Provide a list of employees in last name, first name order<br>
- Provide a list of employees in tenure order (active employees only) in descending order<br>
- Provide a list of employees by manager name in alphabetical order by last name<br>
- Provide a list of employees by region<br>
- Provide a list of employees who have exceeded their allotment of sick days<br>

In [1]:
data = '''
'emp_id','marital_status','last_name','first_name','hire_date','gender','dept_id','dept_name','manager_id','status','term_date','region','sick_days_accumulated','sick_day1','sick_day2','sick_day3'
'001','Married','Ellis','Francis','2005/02/12','Male','HR','Human Resources','037','EXEMPT','','NORTH EAST','5','','',''
'002','Divorced','Jones','Pamala','2003/03/10','Female','IT','Information Technology','037','EXEMPT','','NORTH EAST','5','','',''
'003','Widowed','Davidson','Fred','2003/01/11','Male','FIN','Finance','037','EXEMPT','','NORTH EAST','5','','',''
'004','Single','Rivera','Jewels','2013/10/02','Female','ACC','Accounting','019','NON-EXEMPT','','NORTH EAST','5','','',''
'005','Single','Sing','Hu','2019/12/30','Male','WHS','Warehouse','030','NON-EXEMPT','','NORTH EAST','2','2021/02/01','2021/02/02',''
'006','Single','Ramos','Diego','2015/06/16','Male','IT','Information Technology','002','EXEMPT','','NORTH EAST','2','','',''
'007','Single','Sanchez','Jorge','2015/08/02','Male','IT','Information Technology','002','EXEMPT','2020/03/12','NORTH EAST','0','','',''
'008','Single','Yee','Sue','2019/03/12','Female','HR','Human Resources','001','NON-EXEMPT','','NORTH EAST','2','','',''
'009','Single','Williams','William','2011/05/28','Male','FIN','Finance','003','EXEMPT','','SOUTH WEST','5','','',''
'010','Married','Davis','Elizabeth','2016/09/13','Female','FIN','Finance','003','EXEMPT','','SOUTH WEST','5','2021/01/02','',''
'011','Married','Freach','Greta','2009/05/03','Female','ACC','Accounting','019','EXEMPT','','SOUTH WEST','5','','',''
'012','Married','Gantt','Jackson','2015/06/12','Male','ACC','Accounting','019','EXEMPT','','SOUTH WEST','5','','',''
'013','Married','Jarvis','Melvin','2019/03/30','Male','FIN','Finance','003','EXEMPT','','SOUTH WEST','5','','',''
'014','Married','Tate','Rachael','2016/05/03','Female','HR','Human Resources','001','EXEMPT','','SOUTH WEST','5','','',''
'015','Married','Sung','Henry','2014/08/20','Male','IT','Information Technology','002','EXEMPT','','SOUTH WEST','5','2021/01/24','2021/01/25',''
'016','Married','Davidson','Wilma','2018/03/18','Female','ACC','Accounting','037','EXEMPT','','SOUTH WEST','5','','',''
'017','Married','Williamson','Ursula','2008/01/19','Female','HR','Human Resources','001','NON-EXEMPT','','WEST','2','','',''
'018','Divorced','French','Sara','2015/10/29','Female','HR','Human Resources','001','NON-EXEMPT','','WEST','2','','',''
'019','Divorced','Xi','Yu','2017/04/24','Female','ACC','Accounting','037','EXEMPT','','WEST','5','','',''
'020','Divorced','Quinones','Maribel','2015/05/25','Female','FIN','Finance','003','EXEMPT','','WEST','5','','',''
'021','Single','Breen','Margret','2018/03/01','Female','WHS','Warehouse','030','EXEMPT','','EAST','5','','',''
'022','Single','Pollard','Franz','2007/07/29','Male','IT','Information Technology','002','EXEMPT','','EAST','5','','',''
'023','Single','Keller','Bradley','2011/04/30','Male','IT','Information Technology','002','EXEMPT','','EAST','5','','',''
'024','Single','Opus','Oliver','2014/07/12','Male','WHS','Warehouse','030','NON-EXEMPT','','EAST','2','2021/01/12','',''
'025','Single','Nulland','Nicholas','2010/06/10','Male','FIN','Finance','003','EXEMPT','','EAST','5','','',''
'026','Single','Lee','Tatum','2016/11/15','Male','WHS','Warehouse','030','NON-EXEMPT','','NORTH WEST','5','','',''
'027','Single','Saunders','Asia','2016/02/18','Female','FIN','Finance','003','EXEMPT','','NORTH WEST','5','','',''
'028','Single','Ute','Ulsula','2008/03/11','Female','HR','Human Resources','001','NON-EXEMPT','','NORTH WEST','2','','',''
'029','Single','Jackson','Jessica','2018/06/02','Female','WHS','Warehouse','030','NON-EXEMPT','2020/04/21','NORTH WEST','0','','',''
'030','Widowed','Forrest','Peter','2010/04/03','Male','WHS','Warehouse','037','NON-EXEMPT','','SOUTH EAST','5','','',''
'031','Widowed','Lagos','Leeland','2017/03/30','Male','IT','Information Technology','002','EXEMPT','','SOUTH EAST','2','','',''
'032','Widowed','Holland','Henry','2011/04/02','Male','IT','Information Technology','002','EXEMPT','','SOUTH EAST','5','','',''
'033','Married','Martinez','Margarita','2017/05/26','Female','ACC','Accounting','019','NON-EXEMPT','','SOUTH EAST','2','2021/02/10','2021/02/11','2021/02/12
'034','Married','Jones','Jessica','2013/03/19','Female','WHS','Warehouse','030','NON-EXEMPT','','SOUTH EAST','2','','',''
'035','Married','Torrez','Lea','2019/05/11','Female','IT','Information Technology','002','EXEMPT','','SOUTH EAST','5','','',''
'036','Married','Regis','Lucy','2014/06/20','Female','ACC','Accounting','019','EXEMPT','','SOUTH EAST','14','','',''
'037','Married','Saulzman','Randle','2001/03/20','Male','EX','Executive','037','EXEMPT','','EAST','25','','',''

'''

"\n'emp_id','marital_status','last_name','first_name','hire_date','gender','dept_id','dept_name','manager_id','status','term_date','region','sick_days_accumulated','sick_day1','sick_day2','sick_day3'\n'001','Married','Ellis','Francis','2005/02/12','Male','HR','Human Resources','037','EXEMPT','','NORTH EAST','5','','',''\n'002','Divorced','Jones','Pamala','2003/03/10','Female','IT','Information Technology','037','EXEMPT','','NORTH EAST','5','','',''\n'003','Widowed','Davidson','Fred','2003/01/11','Male','FIN','Finance','037','EXEMPT','','NORTH EAST','5','','',''\n'004','Single','Rivera','Jewels','2013/10/02','Female','ACC','Accounting','019','NON-EXEMPT','','NORTH EAST','5','','',''\n'005','Single','Sing','Hu','2019/12/30','Male','WHS','Warehouse','030','NON-EXEMPT','','NORTH EAST','2','2021/02/01','2021/02/02',''\n'006','Single','Ramos','Diego','2015/06/16','Male','IT','Information Technology','002','EXEMPT','','NORTH EAST','2','','',''\n'007','Single','Sanchez','Jorge','2015/08/02','Male','IT','Information Technology','002','EXEMPT','2020/03/12','NORTH EAST','0','','',''\n'008','Single','Yee','Sue','2019/03/12','Female','HR','Human Resources','001','NON-EXEMPT','','NORTH EAST','2','','',''\n'009','Single','Williams','William','2011/05/28','Male','FIN','Finance','003','EXEMPT','','SOUTH WEST','5','','',''\n'010','Married','Davis','Elizabeth','2016/09/13','Female','FIN','Finance','003','EXEMPT','','SOUTH WEST','5','2021/01/02','',''\n'011','Married','Freach','Greta','2009/05/03','Female','ACC','Accounting','019','EXEMPT','','SOUTH WEST','5','','',''\n'012','Married','Gantt','Jackson','2015/06/12','Male','ACC','Accounting','019','EXEMPT','','SOUTH WEST','5','','',''\n'013','Married','Jarvis','Melvin','2019/03/30','Male','FIN','Finance','003','EXEMPT','','SOUTH WEST','5','','',''\n'014','Married','Tate','Rachael','2016/05/03','Female','HR','Human Resources','001','EXEMPT','','SOUTH WEST','5','','',''\n'015','Married','Sung','Henry','2014/08/20','Male','IT','Information Technology','002','EXEMPT','','SOUTH WEST','5','2021/01/24','2021/01/25',''\n'016','Married','Davidson','Wilma','2018/03/18','Female','ACC','Accounting','037','EXEMPT','','SOUTH WEST','5','','',''\n'017','Married','Williamson','Ursula','2008/01/19','Female','HR','Human Resources','001','NON-EXEMPT','','WEST','2','','',''\n'018','Divorced','French','Sara','2015/10/29','Female','HR','Human Resources','001','NON-EXEMPT','','WEST','2','','',''\n'019','Divorced','Xi','Yu','2017/04/24','Female','ACC','Accounting','037','EXEMPT','','WEST','5','','',''\n'020','Divorced','Quinones','Maribel','2015/05/25','Female','FIN','Finance','003','EXEMPT','','WEST','5','','',''\n'021','Single','Breen','Margret','2018/03/01','Female','WHS','Warehouse','030','EXEMPT','','EAST','5','','',''\n'022','Single','Pollard','Franz','2007/07/29','Male','IT','Information Technology','002','EXEMPT','','EAST','5','','',''\n'023','Single','Keller','Bradley','2011/04/30','Male','IT','Information Technology','002','EXEMPT','','EAST','5','','',''\n'024','Single','Opus','Oliver','2014/07/12','Male','WHS','Warehouse','030','NON-EXEMPT','','EAST','2','2021/01/12','',''\n'025','Single','Nulland','Nicholas','2010/06/10','Male','FIN','Finance','003','EXEMPT','','EAST','5','','',''\n'026','Single','Lee','Tatum','2016/11/15','Male','WHS','Warehouse','030','NON-EXEMPT','','NORTH WEST','5','','',''\n'027','Single','Saunders','Asia','2016/02/18','Female','FIN','Finance','003','EXEMPT','','NORTH WEST','5','','',''\n'028','Single','Ute','Ulsula','2008/03/11','Female','HR','Human Resources','001','NON-EXEMPT','','NORTH WEST','2','','',''\n'029','Single','Jackson','Jessica','2018/06/02','Female','WHS','Warehouse','030','NON-EXEMPT','2020/04/21','NORTH WEST','0','','',''\n'030','Widowed','Forrest','Peter','2010/04/03','Male','WHS','Warehouse','037','NON-EXEMPT','','SOUTH EAST','5','','',''\n'031','Widowed','Lagos','Leeland','2017/03/30','Male','IT','Information Technology','002','EXEMPT','','SOUTH EAST','2','','',''\n'032','Widowed','Holland','Henry','2011/04/02','Male','IT','Information Technology','002','EXEMPT','','SOUTH EAST','5','','',''\n'033','Married','Martinez','Margarita','2017/05/26','Female','ACC','Accounting','019','NON-EXEMPT','','SOUTH EAST','2','2021/02/10','2021/02/11','2021/02/12\n'034','Married','Jones','Jessica','2013/03/19','Female','WHS','Warehouse','030','NON-EXEMPT','','SOUTH EAST','2','','',''\n'035','Married','Torrez','Lea','2019/05/11','Female','IT','Information Technology','002','EXEMPT','','SOUTH EAST','5','','',''\n'036','Married','Regis','Lucy','2014/06/20','Female','ACC','Accounting','019','EXEMPT','','SOUTH EAST','14','','',''\n'037','Married','Saulzman','Randle','2001/03/20','Male','EX','Executive','037','EXEMPT','','EAST','25','','',''\n\n"

In [12]:
import os, csv
import sqlite3
from pprint import pprint

conn = sqlite3.connect(":memory:")
curr = conn.cursor()
curr.executescript('''
    create table allData(
        emp_id TEXT,
        marital_status TEXT,
        last_name TEXT,
        first_name TEXT,
        hire_date TEXT,
        gender TEXT,
        dept_id TEXT,
        dept_name TEXT,
        manager_id TEXT,
        status TEXT,
        term_date TEXT,
        region TEXT,
        sick_days_accumulated TEXT,
        sick_day1 TEXT,
        sick_day2 TEXT,
        sick_day3 TEXT
    );
''')
conn.commit()
curr.close()   # <=== cursor is closed
conn.row_factory = sqlite3.Row #allows you to access rows using names like a dictionary row['term_date']
curr = conn.cursor()

In [13]:
conn.row_factory = sqlite3.Row #allows you to access rows using names like a dictionary row['term_date']
curr = conn.cursor()

filePath = r'/Users/debbycosoi/Desktop/Code Immersives/SQL NoSQL/PY112-SQL/employee_data.csv'
with open(filePath, 'r', encoding='UTF8') as f:
    # create the csv writer
    dr = csv.DictReader(f)
    
    #create lambda for cleaning inner quotes
    clean = lambda x: x.replace("'", "")
    
    #clean "normalize" field names and entries
    #map -> apply a function to every value in the list
    entries = [tuple(map(clean, entry.values())) for entry in dr]
    fieldnames = list(map(clean, dr.fieldnames)) 
    
    
    #create sql statement and execute 
    sql = f"""INSERT INTO allData ({",".join(fieldnames)}) 
            VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)"""    
    curr.executemany(sql, entries)

In [14]:
    # Employees by gender 
    
    # get all genders from data
    all_genders = [g[0] for g in curr.execute("SELECT DISTINCT gender FROM allData").fetchall()]
    

    
    #fetchone -> returns one row. so 
    # fetchone()[0] -> value of first column in row, 
    # fetchone()[1] -> value of second column in row.
    
    
    # count by gender
    for gender in all_genders:
        curr.execute("SELECT COUNT(gender) FROM allData WHERE gender = '{0}'".format(gender))
        gendered_employee_count = curr.fetchone()[0] #you are only going to have one result
        print(f"{gender} Employee count: { gendered_employee_count }")
    print("=" * 30)

Male Employee count: 18
Female Employee count: 19
==============================

In [16]:
# Employees by Dept. name
all_depts = [g[0] for g in curr.execute("SELECT DISTINCT dept_name FROM allData").fetchall()]
    
# count by dept. name
for dept in all_depts:
    curr.execute("SELECT COUNT(dept_name) FROM allData WHERE dept_name = '{0}'".format(dept))
    dept_employee_count = curr.fetchone()[0]
    print(f"{dept} Employee count: {dept_employee_count }")
print("=" * 30)

Human Resources Employee count: 6
Information Technology Employee count: 9
Finance Employee count: 7
Accounting Employee count: 7
Warehouse Employee count: 7
Executive Employee count: 1
==============================

In [18]:
# Employees in last name, first name order 
all_employees_by_last = [f"{g[0]}, {g[1]}" for g in curr.execute("SELECT last_name, first_name FROM allData ORDER BY last_name").fetchall()]
print("Employees by Last Name:")
pprint(all_employees_by_last)
print("=" * 30)

Employees by Last Name:
['Breen, Margret',
 'Davidson, Fred',
 'Davidson, Wilma',
 'Davis, Elizabeth',
 'Ellis, Francis',
 'Forrest, Peter',
 'Freach, Greta',
 'French, Sara',
 'Gantt, Jackson',
 'Holland, Henry',
 'Jackson, Jessica',
 'Jarvis, Melvin',
 'Jones, Pamala',
 'Jones, Jessica',
 'Keller, Bradley',
 'Lagos, Leeland',
 'Lee, Tatum',
 'Martinez, Margarita',
 'Nulland, Nicholas',
 'Opus, Oliver',
 'Pollard, Franz',
 'Quinones, Maribel',
 'Ramos, Diego',
 'Regis, Lucy',
 'Rivera, Jewels',
 'Sanchez, Jorge',
 'Saulzman, Randle',
 'Saunders, Asia',
 'Sing, Hu',
 'Sung, Henry',
 'Tate, Rachael',
 'Torrez, Lea',
 'Ute, Ulsula',
 'Williams, William',
 'Williamson, Ursula',
 'Xi, Yu',
 'Yee, Sue']
==============================

In [19]:
# Employees in tenure order (active employees only) in descending order
    
all_employees_by_last = [f"{g[0]}, {g[1]}, {g[2]}" for g in curr.execute("SELECT last_name, first_name, status FROM allData ORDER BY status DESC").fetchall()]
print("Employees by Status:")
pprint(all_employees_by_last)
print("=" * 30)

Employees by Status:
['Rivera, Jewels, NON-EXEMPT',
 'Sing, Hu, NON-EXEMPT',
 'Yee, Sue, NON-EXEMPT',
 'Williamson, Ursula, NON-EXEMPT',
 'French, Sara, NON-EXEMPT',
 'Opus, Oliver, NON-EXEMPT',
 'Lee, Tatum, NON-EXEMPT',
 'Ute, Ulsula, NON-EXEMPT',
 'Jackson, Jessica, NON-EXEMPT',
 'Forrest, Peter, NON-EXEMPT',
 'Martinez, Margarita, NON-EXEMPT',
 'Jones, Jessica, NON-EXEMPT',
 'Ellis, Francis, EXEMPT',
 'Jones, Pamala, EXEMPT',
 'Davidson, Fred, EXEMPT',
 'Ramos, Diego, EXEMPT',
 'Sanchez, Jorge, EXEMPT',
 'Williams, William, EXEMPT',
 'Davis, Elizabeth, EXEMPT',
 'Freach, Greta, EXEMPT',
 'Gantt, Jackson, EXEMPT',
 'Jarvis, Melvin, EXEMPT',
 'Tate, Rachael, EXEMPT',
 'Sung, Henry, EXEMPT',
 'Davidson, Wilma, EXEMPT',
 'Xi, Yu, EXEMPT',
 'Quinones, Maribel, EXEMPT',
 'Breen, Margret, EXEMPT',
 'Pollard, Franz, EXEMPT',
 'Keller, Bradley, EXEMPT',
 'Nulland, Nicholas, EXEMPT',
 'Saunders, Asia, EXEMPT',
 'Lagos, Leeland, EXEMPT',
 'Holland, Henry, EXEMPT',
 'Torrez, Lea, EXEMPT',
 'Regis, Lucy, EXEMPT',
 'Saulzman, Randle, EXEMPT']
==============================

In [20]:
# Provide a list of employees by manager name in alphabetical order by last name 
# weak ordering -> which means, sorting by multiple things 
all_employees_by_last = [f"{g[0]}, {g[1]}, {g[2]}" for g in curr.execute("SELECT last_name, first_name, manager_id FROM allData ORDER BY manager_id, last_name ASC").fetchall()]
print("Employees by Manager Id and last name:")
pprint(all_employees_by_last)
print("=" * 30)

Employees by Manager Id and last name:
['French, Sara, 001',
 'Tate, Rachael, 001',
 'Ute, Ulsula, 001',
 'Williamson, Ursula, 001',
 'Yee, Sue, 001',
 'Holland, Henry, 002',
 'Keller, Bradley, 002',
 'Lagos, Leeland, 002',
 'Pollard, Franz, 002',
 'Ramos, Diego, 002',
 'Sanchez, Jorge, 002',
 'Sung, Henry, 002',
 'Torrez, Lea, 002',
 'Davis, Elizabeth, 003',
 'Jarvis, Melvin, 003',
 'Nulland, Nicholas, 003',
 'Quinones, Maribel, 003',
 'Saunders, Asia, 003',
 'Williams, William, 003',
 'Freach, Greta, 019',
 'Gantt, Jackson, 019',
 'Martinez, Margarita, 019',
 'Regis, Lucy, 019',
 'Rivera, Jewels, 019',
 'Breen, Margret, 030',
 'Jackson, Jessica, 030',
 'Jones, Jessica, 030',
 'Lee, Tatum, 030',
 'Opus, Oliver, 030',
 'Sing, Hu, 030',
 'Davidson, Fred, 037',
 'Davidson, Wilma, 037',
 'Ellis, Francis, 037',
 'Forrest, Peter, 037',
 'Jones, Pamala, 037',
 'Saulzman, Randle, 037',
 'Xi, Yu, 037']
==============================

In [21]:
# Provide a list of employees by region
all_employees_by_last = [f"{g[0]}, {g[1]}, {g[2]}" for g in curr.execute("SELECT last_name, first_name, region FROM allData ORDER BY region").fetchall()]
print("Employees by region:")
pprint(all_employees_by_last)
print("=" * 30)

Employees by region:
['Breen, Margret, EAST',
 'Pollard, Franz, EAST',
 'Keller, Bradley, EAST',
 'Opus, Oliver, EAST',
 'Nulland, Nicholas, EAST',
 'Saulzman, Randle, EAST',
 'Ellis, Francis, NORTH EAST',
 'Jones, Pamala, NORTH EAST',
 'Davidson, Fred, NORTH EAST',
 'Rivera, Jewels, NORTH EAST',
 'Sing, Hu, NORTH EAST',
 'Ramos, Diego, NORTH EAST',
 'Sanchez, Jorge, NORTH EAST',
 'Yee, Sue, NORTH EAST',
 'Lee, Tatum, NORTH WEST',
 'Saunders, Asia, NORTH WEST',
 'Ute, Ulsula, NORTH WEST',
 'Jackson, Jessica, NORTH WEST',
 'Forrest, Peter, SOUTH EAST',
 'Lagos, Leeland, SOUTH EAST',
 'Holland, Henry, SOUTH EAST',
 'Martinez, Margarita, SOUTH EAST',
 'Jones, Jessica, SOUTH EAST',
 'Torrez, Lea, SOUTH EAST',
 'Regis, Lucy, SOUTH EAST',
 'Williams, William, SOUTH WEST',
 'Davis, Elizabeth, SOUTH WEST',
 'Freach, Greta, SOUTH WEST',
 'Gantt, Jackson, SOUTH WEST',
 'Jarvis, Melvin, SOUTH WEST',
 'Tate, Rachael, SOUTH WEST',
 'Sung, Henry, SOUTH WEST',
 'Davidson, Wilma, SOUTH WEST',
 'Williamson, Ursula, WEST',
 'French, Sara, WEST',
 'Xi, Yu, WEST',
 'Quinones, Maribel, WEST']
==============================

In [22]:
# Provide a list of employees who have exceeded their allotment of sick days
sick_days_limit = 3
#days = [days[0] for days in curr.execute("SELECT DISTINCT sick_days_accumulated FROM allData").fetchall()]
#print("days", days)
all_employees_by_last = [f"{g[0]}, {g[1]}, {g[2]}" for g in curr.execute("SELECT last_name, first_name, sick_days_accumulated FROM allData WHERE CAST(sick_days_accumulated as int) > {0}".format(sick_days_limit)).fetchall()]
print("Employees that exceeded their allotment of sick days:")
pprint(all_employees_by_last)
print("=" * 30)
curr.close()

Employees that exceeded their allotment of sick days:
['Ellis, Francis, 5',
 'Jones, Pamala, 5',
 'Davidson, Fred, 5',
 'Rivera, Jewels, 5',
 'Williams, William, 5',
 'Davis, Elizabeth, 5',
 'Freach, Greta, 5',
 'Gantt, Jackson, 5',
 'Jarvis, Melvin, 5',
 'Tate, Rachael, 5',
 'Sung, Henry, 5',
 'Davidson, Wilma, 5',
 'Xi, Yu, 5',
 'Quinones, Maribel, 5',
 'Breen, Margret, 5',
 'Pollard, Franz, 5',
 'Keller, Bradley, 5',
 'Nulland, Nicholas, 5',
 'Lee, Tatum, 5',
 'Saunders, Asia, 5',
 'Forrest, Peter, 5',
 'Holland, Henry, 5',
 'Torrez, Lea, 5',
 'Regis, Lucy, 14',
 'Saulzman, Randle, 25']
==============================